.button {
    width: 153px;
    height: 32px;
    background: $main-color;
    border: none;
    border-radius: 5px;

    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    &_big {
        width: 300px;
        height: 50px;
        font-size: 16px;
        line-height: 25px;
    }
    &_small {
        width: 135px;
        height: 44px;

        font-size: 14px;
        line-height: 22px;
    }
    &_main {
        margin-top: 67px;
    }
}