.carousel {
    padding: 81px 0;
    &__body {
        position: relative;
        width: 750px;
        height: 580px;
        margin: 0 auto;
    }
    &__inner {
        // position: relative;
        // width: 750px;
        // height: 580px;
        // margin: 0 auto;
        overflow: hidden;
    }
    &__arrow-right {
        position: absolute;
        right: -70px;
        top: 50%;
        transform: translateY(-50%);
        background: url('../../img/carousel/arrow-right.png');
        width: 30px;
        height: 50px;
        cursor: pointer;
    }
    &__arrow-left {
        position: absolute;
        left: -70px;
        top: 50%;
        transform: translateY(-50%);
        background: url('../../img/carousel/arrow-left.png');
        width: 30px;
        height: 50px;
        cursor: pointer;
    }
    &__wrapper {
        transition: 0.5s all;
        display: flex;
    }
}